* {
    -fx-font-family: "Calibri";
}

#parameter_bar * {
    -fx-font-size: 12px;
    -fx-alignment: top-left;
}

#parameter_bar .label {
    -fx-padding: 0 0 8 0;
}

#parameter_bar {
    -fx-border-color: rgba(0,0,0,.4);
    -fx-border-width: 0 1 0 0;
}

#parameter_bar HBox {
    -fx-padding: 0 0 0 40;
}

#parameter_bar VBox {
    -fx-padding: 10 10 10 10;
}

#parameter_bar Button {
    -fx-padding: 14 14 14 14;
}

#tray {
    -fx-border-color: rgba(0,0,0,.4);
    -fx-border-width: 1 0 1 0;
}

#top_menu {
    -fx-border-color: rgba(0,0,0,.4);
    -fx-border-width: 0 0 1 0;
}

#fitness_label {
    -fx-font-size: 30px;
}

#tray *, #parameter_bar *, #top_menu *, .dialog-pane *{
    -fx-text-fill: #FFFFFF;
}

#tray, #parameter_bar, #top_menu, .context-menu, .dialog-pane {
    -fx-background-color: #444444;
}

Slider .thumb {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 1.0em;
    -fx-padding: 0.583333em;
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.1), 5, 0.0 , 0, 2);
}

Slider .track {
    -fx-padding: 0.1em;
}

Button, Slider .track {
    -fx-background-color: #00A000;
}

Button:hover {
    -fx-background-color: #009000;
}

#fitness_label {
    -fx-padding: 5 0 0 0;
}

.progress-bar {
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
}

.progress-bar .bar {
    -fx-background-color: #00A000;
    -fx-background-insets: 2;
    -fx-padding: 9;
}

.progress-bar:indeterminate .bar {
    -fx-background-color: #F8F8F8;
}

.progress-bar .track {
    -fx-background-color: #F8F8F8;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
}

.menu {
    -fx-padding: 6px;
}

.menu:hover, .menu-item:hover {
    -fx-background-color: #3561a3;
}

.menu-item {
    -fx-padding: 4 110 4 10;
    -fx-border-color: rgba(255,255,255,.4);
    -fx-border-width: 0 1 0 1;
}

.first_menu_item {
    -fx-border-width: 1 1 0 1;
}

.last_menu_item {
    -fx-border-width: 0 1 1 1;
}

.dialog-pane {
    -fx-padding: 15;
}

.dialog-pane .button {
    -fx-background-color: #FF0000;
    -fx-alignment: center;
    -fx-padding: 5;
}
